<!DOCTYPE html>
<html lang=en>
    <head>
        <head>
            {{ template "head_tmpl" }}
        </head>
    </head>
    <body>

        <div class="app">
            <!-- START APP CONTAINER -->
            <div class="app-container">
                <!-- START SIDEBAR -->
                <div class="app-sidebar app-navigation app-navigation-fixed scroll app-navigation-style-default dir-left">
                    {{ template "navbar" }}
                </div>
                <!-- END SIDEBAR -->

                <!-- START APP CONTENT -->
                <div class="app-content">
                    <!-- START APP HEADER -->
                    <div class="app-header app-header-design-default">
                        <ul class="app-header-buttons">
                            <li class="visible-mobile"><a href="#" class="btn btn-link btn-icon" data-sidebar-toggle=".app-sidebar.dir-left"><span class="icon-menu"></span></a></li>
                            <li class="hidden-mobile"><a href="#" class="btn btn-link btn-icon" data-sidebar-minimize=".app-sidebar.dir-left"><span class="icon-menu"></span></a></li>
                        </ul>
                        <!-- END APP HEADER  -->

                        <!-- START PAGE HEADING -->
                        <div class="app-heading app-heading-bordered app-heading-page">
                            <div class="title">
                                <h2>Распределение нагрузки преподавателей</h2>
                                <p>Здесь можно создать новый учебный план</p>
                            </div>
                        </div>
                <div class="container" id="app">
                    <div class="block">
                        <div class="col-md-4 col-ms-4 grid-element filter-business">
                            <div class="tile-basic">
                                <a href="#" class="preview" data-preview-size="modal-lg">
                                    <div class="tile-content tile-content-condensed-bottom text-center">
                                        <button type="button" class="btn btn-success btn-lg">Добавить</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-ms-4 grid-element filter-business">
                            <div class="tile-basic">
                                <a href="#" class="preview" data-preview-size="modal-lg">
                                    <div class="tile-content tile-content-condensed-bottom text-center">
                                        <button type="button" class="btn btn-warning btn-lg">Редактировать</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-ms-4 grid-element filter-business">
                            <div class="tile-basic">
                                <a href="#" class="preview-delete" data-preview-size="modal-lg">
                                    <div class="tile-content tile-content-condensed-bottom text-center">
                                        <button type="button" class="btn btn-danger btn-lg">Удалить</button>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                        <div class="block-content">
                            <table class="table table-striped table-bordered">
                                <h1>Предметы</h1>
                                <p>Здесь вы можете добавить, удалить или редактировать предметы.</p>
                                <thead>
                                    <tr>
                                        <th>Название предмета</th>
                                        <th>Сокращенное название</th>
                                        <th>Профессиональный модуль</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="c in subjects">
                                        <td>${c.Name}</td>
                                        <td>${c.Shortname}</td>
                                        <td>${c.ID_professionalmodule}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END APP CONTAINER -->
            <!-- модальные окна -->
                        <div class="modal fade" id="preview" tabindex="-1" role="dialog">
                            <div class="modal-dialog">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon-cross"></span></button>
                                <div class="modal-content">
                                    <div class="block">
                                        <h1>Предметы</h1>
                                        <div class="col-md-12">
                                            <label>Название предмета</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control subjectName" placeholder="09.02.04">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label>Сокращенное название</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control shortName" placeholder="Программирование в компьютерных системах">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <label>Профессиональный модуль</label>
                                            <select class="bs-select " id="selectProfmodule">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <div class="app-checkbox inline">
                                                    <label><input type="checkbox" class="type" name="app-checkbox-2" value="0" checked="checked"> Лабораторные</label>
                                                </div>
                                            </div>
                                        </div>
                                            
                                        <div class="col-md-12">
                                            <br>
                                            <button type="button" class="btn btn-default" onclick="addSubject()">Добавить предмет</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- модальные окна -->

        </div>
        <script src="https://unpkg.com/vue"></script>
        <script type="text/javascript" src="../static/js/api/vueSubject.js"></script>
        <!-- IMPORTANT SCRIPTS -->
        <!--<script type="text/javascript" src="../static/js/api/jsSubject.js"></script> -->
        <script type="text/javascript" src="../static/js/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/vendor/jquery/jquery-migrate.min.js"></script>
        <script type="text/javascript" src="../static/js/vendor/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../static/js/vendor/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="../static/js/vendor/moment/moment.min.js"></script>
        <script type="text/javascript" src="../static/js/vendor/customscrollbar/jquery.mCustomScrollbar.min.js"></script>
        <!-- END IMPORTANT SCRIPTS -->
        <script type="text/javascript" src="../static/js/vendor/bootstrap-select/bootstrap-select.js"></script>
        <script type="text/javascript" src="../static/js/vendor/select2/select2.full.min.js"></script>
        <!-- APP SCRIPTS -->
        <script type="text/javascript" src="../static/js/app.js"></script>
        <script type="text/javascript" src="../static/js/app_plugins.js"></script>
        <script type="text/javascript" src="../static/js/app_demo.js"></script>
        <!-- END APP SCRIPTS -->
        <script type="text/javascript" src="../static/js/vendor/datatables/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="../static/js/vendor/datatables/dataTables.bootstrap.min.js"></script>
    </body>
